RewriteEngine On

# Redirecionar requisições para arquivos PHP sem a extensão .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [L]

# Redirecionar requisições para arquivos HTML sem a extensão .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [L]