html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-image: url('public/assets/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container div {
  width: 30px;
  height: 100%;
  margin-left: 10px;
}

#logo {
  height: 50px;
}

/* -------------------------- */
  
/* estilo geral do menu */
nav {
  display: flex;
  justify-content: flex-end;
}
  
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  position: relative;
}

a {
  display: block;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: green;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

a:hover {
  color: #0d5100;
}

header ul li:nth-child(3) a,
header ul li:nth-child(4) a {
  background-color: green;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
}

header ul li:nth-child(3) a:hover,
header ul li:nth-child(4) a:hover{
  background-color: #0d5100;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
}

header ul li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* ----------------------------------------------- */

.intro {
  align-items: normal;
  width: 95%;
  height: 80vh;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.intro img {
  width: 70%;
  border-radius: 20px;
}
  
.texto_enfermagem {
  text-align: center;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30%;
  height: 90%;
  padding: 10px;
  background-color: rgba(0, 128, 0, 1);
  color: white;
  z-index: 1;
  border-radius: 20px;
  font-size: small;
}
  
.texto_enfermagem .button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.texto_enfermagem .button a {
  font-family: Verdana, Geneva, Tahoma;
  width: 250px;
  text-decoration: none;
  background-color: greenyellow;
  color: green;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, cursor 0.3s ease;
  border: 5px double green;
  border-radius: 10px;
}

.texto_enfermagem .button a:hover {
  background-color: green;
  color: white;
  cursor: pointer;
  border: 5px double white;
}

/* -------------------------------------- */

.sessao2 {
  align-items: normal;
  width: 95%;
  height: 80vh;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.enfermagem_mercado {
  text-align: center;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 75%;
  padding: 10px;
  background-color: rgba(0, 128, 0, 1);
  color: white;
  z-index: 1;
  border-radius: 20px;
  font-size: medium;
}

.enfermagem_mercado span {
  font-style: italic;
  font-size: 12px;
}

.sessao2 img {
  margin-top: 30px;
  position: relative;
  width: 55%;
  border-radius: 20px;
  z-index: 2;
}

/* --------------------------- */

.sessao3 {
  margin-top: 20px;
  position: relative;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.sessao3 h3 {
  font-size: 28px;
  color: #333;
}

.sessao3 p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.sessao3 span {
  display: block;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-top: 30px;
}

.sessao3 .button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sessao3 .button a {
  font-family: Verdana, Geneva, Tahoma;
  width: 200px;
  text-decoration: none;
  background-color: greenyellow;
  color: green;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, cursor 0.3s ease;
  border: 5px double green;
  border-radius: 10px;
}

.sessao3 .button a:hover {
  background-color: green;
  color: white;
  cursor: pointer;
  border: 5px double white;
}

.motivos, .duvida {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  width: 100%;
  height: 50px;
  font-family: tahoma;
}

.motivos h2, .duvida h2 {
  color: #333;
  text-align: center;
}

/* ------------------------------------- */

.sessao4 {
  display: flex;
  justify-content: space-between;
}

.sessao4 > div {
  width: 24%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.sessao4 h3 {
  background-color: #73ba6f;
  color: #fff;
  font-size: 20px;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
}

.sessao4 p {
  border-radius: 8px;
  padding: 20px;
  background-color: #eaf7e8;
  display: none;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

/* -------------------------------------------- */

.sessao5 {
  width: 90%;
  display: flex;
  align-items: center;
}

.sessao5 div:first-child {
  flex: 1;
}

.sessao5 div img {
  width: 90%;
  height: auto;
  margin: 30px;
  border-radius: 30px;
}

.sessao5 div:last-child {
  width: 100%;
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  justify-content: center;
}

.sessao5 h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: green;
}

.sessao5 form input {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
}

.sessao5 textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
}

.sessao5 form button {
  width: 100%;
  padding: 10px;
  background-color: greenyellow;
  color: green;
  border: none;
  cursor: pointer;
}

.sessao5 form button:hover {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}


#success-message {
  width: 90%;
  font-size: 12px;
  margin-top: 10px;
  color: green;
  font-weight: bold;
  text-align: center;
  font-family: tahoma;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a:hover {
  color: white; /* Substitua pela cor desejada */
}

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
  color: #fff;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.icon-link:hover {
  background-color: #00f000;
}

.fa {
  font-size: 20px;
}

/* --------------------------------------- */

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

footer div {
  margin-bottom: 20px;
}

footer h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

footer p {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

footer div:last-child {
  font-size: 14px;
  color: #777;
}

footer div:last-child p {
  margin-top: 10px;
}

footer div:last-child p::before {
  content: '\00a9';
}

footer div:last-child p a {
  color: #777;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer div:last-child p a:hover {
  color: #333;
}


/* ---------------------------------------------- */

@media screen and (max-width: 768px) {

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container div {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
}

#logo {
  width: 100px;
}

nav {
  margin-top: 20px;
  text-align: center;
  font-size: small;
}

/* ------- Menu OK -------- */

section {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.intro {
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 95%;
  margin: 0;
}

.intro img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.texto_enfermagem {
  margin-top: 20px;
  width: 95%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateY(0);
  font-size: small;
}

.texto_enfermagem span {
  font-size: 12px;
}

.button {
  margin-top: 30px;
  text-align: center;
}

.button a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.duvida {
  margin-top: 20px;
  text-align: center;
  font-size: small;
}

.sessao2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enfermagem_mercado {
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  height: 60%;
  top: 0;
  left: 0;
  transform: translateY(0);
  padding: 10px;
  font-size: small;
}

.sessao2, .sessao2 img {
  margin: 0;
  padding: 0;
}

.sessao2 img {
  margin-top: 10px;
  width: 90%;
  position: relative;
  top: 0;
  left: 0;
  transform: translateY(0);
}

.sessao3 {
  width: 95%;
  padding: 10px;
}

.sessao3 h3 {
  font-size: 16px;
}

.sessao3 p,
.sessao3 span {
  font-size: 13px;
}

.sessao3 .button {
  margin-top: 20px;
  text-align: center;
}

.sessao3 .button a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.motivos {
  text-align: center;
  font-size: small;
}

.sessao4 > div {
  width: 100%;
}

.sessao4 {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.sessao4 p {
  display: flex;
  margin: 0;
  padding: 0;
}

.M1, .M2, .M3, .M4 {
  flex-direction: column;
  width: 95%;
  margin: 0;
  padding: 0;
}

.sessao5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sessao5 > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sessao5 div:last-child {
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.sessao5 img {
  width: 100%;
  align-self: center;
  margin: 0;
  padding: 0;
}

.sessao5 form {
  width: 100%;
}

.sessao5 form input {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

.formulario {
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.formulario h1 {
  font-size: 18px;
}

.formulario input,
.formulario textarea {
  width: 90%;
  font-size: 14px;
  padding: 10px;
  margin: 5px;
}

.sessao5 form button {
  width: 100%;
  justify-content: center;
}

.formulario button {
  border: none;
  border-radius: 5px;
}

#success-message {
  display: none;
  margin-top: 10px;
  font-size: 14px;
}

footer {
  flex-direction: column;
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer div {
  flex-basis: 50%;
  margin-bottom: 10px;
}

footer h3 {
  font-size: 14px;
}

footer p {
  font-size: 12px;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

.social-icons a:last-child {
  margin-right: 0;
}
}